* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 1100x1900 */
:root {
	--primary-color: #2872FB;
	--secondary-color: #6913CC;

	--nav-bg: #fff;

	--primary-color-light: #232424a7;

	--text-color: #2872FB;
	--text-hover-color: #6913CC;

	--bg-primary: #F2ECE0;

	/* --montserrat: "Montserrat", sans-serif; */
	--barlow: "Barlow Semi Condensed", sans-serif;
	--lato: "Lato", sans-serif;
}

.section-properties {
	padding: 3rem 0;
}

body {
	overflow-x: hidden;
	font-family: var(--barlow);
}

a {
	text-decoration: none;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* NAVBAR */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
header .container{
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

}
header .navbar{
	background-color: var(--nav-bg);
	border-radius: 50px !important;
	padding: 0 30px;
	z-index: 999;
	margin: 10px 0;
}

header nav ul a {
	color: var(--text-color) !important;
	transition: all 0.4s;
	font-family: var(--lato) !important;
	font-weight: 700 !important;
	font-size: 16px;
	transition: all 0.5s;
}

header nav a:hover {
	color: var(--text-hover-color) !important;
}

header .nav-item {
	position: relative;
}

header .nav-item:hover:after {
	opacity: 1;
	width: 80%;

}

header .nav-item:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 4px;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: -o-linear-gradient(338.59deg, #ff0844 24.85%, #ff8b67 95.39%);
	background: linear-gradient(111.41deg, #ff0844 24.85%, #ff8b67 95.39%);
	border-radius: 2px;
	opacity: 0;
	transition: all 0.5s;
}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* BANNER SECTION */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.banner {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}
.banner .background{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	border-radius: 0 0 0 240px;
	background: linear-gradient(45deg, #6913CC, #2872FB);
	align-items: center;
	align-content: center;

}

.banner .container{
	align-items: center;
	align-content: center;
}

.banner .row{
	align-items: center;
	margin: 0;
	padding: 0;
}

.banner .row1 .col-3, .row2 .col-3, .row3 .col-3, .row4 .col-3 {
	height: 130px;
	width: 130px;
	text-align: center;
	align-content: center;
	font-size: 20px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.banner .row1 .col-3 img, .row2 .col-3 img, .row3 .col-3 img, .row4 .col-3 img{
	width: 130px;
	height: 130px;
}


/* ROW 1 */
.banner .row1 .col-3:nth-child(2) {
	background-color: #F1BA3C;
	border-radius: 50%;
}

.banner .row1 .col-3:nth-child(3) {
	background-color: #F1BA3C;
	border-radius: 0 50% 50% 0;
}

.banner .row1 .col-3:nth-child(4) {
	background-color: #1EBDF4;
	border-radius: 50% 50% 0 0;
}


/* ROW 2 */
.banner .row2 .col-3:nth-child(1) {
	background-color: #fff;
	border-radius: 0 50% 0 50%;
}

.banner .row2 .col-3:nth-child(2) {
	background-color: #47C079;
}

.banner .row2 .col-3:nth-child(3) {
	background-color: rgb(255, 94, 0);
	border-radius: 50%;
}

.banner .row2 .col-3:nth-child(4) {
	background-color: #1EBDF4;
}


/* ROW 3 */
.banner .row3 .col-3:nth-child(1) {
	background-color: rgb(255, 94, 207);
}

.banner .row3 .col-3:nth-child(2) {
	background-color: #A754EE;
	border-radius: 50% 50% 0 0;
}

.banner .row3 .col-3:nth-child(3) {
	background-color: #D4CBBC;
}

.banner .row3 .col-3:nth-child(4) {
	background-color: #4B5D73;
	border-radius: 50% 0 0 50%;
}


/* ROW 4 */
.banner .row4 .col-3:nth-child(1) {
	background-color: #ACD7FA;
	border-radius: 50% 50% 0 50%;
}

.banner .row4 .col-3:nth-child(2) {
	background-color: #F04589;
	border-radius: 50%;
}

.banner .row4 .col-3:nth-child(3) {
	background-color: #F97F56;
}

.banner .row4 .col-3:nth-child(4) {
	background-color: rgb(145, 255, 0);
	border-radius: 0 50% 50% 0;
}


.banner .row .col-12:nth-child(3) {
	display: none;
}


.banner .caption h1 {
	color: var(--nav-bg);
	font-size: 60px;
	font-family: var(--montserrat);
}

.banner .caption .button1 {
	color: var(--nav-bg) !important;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	font-family: var(--barlow);
	border-radius: 20px;
	border-style: none;
	padding: 12px 55px;
	background: linear-gradient(111.41deg, #ff0844 24.85%, #ff8b67 95.39%);
	transition: all 0.5s;
}

.banner .caption .button1:hover {
	background: linear-gradient(-111.41deg, #ff0844 24.85%, #ff8b67 95.39%);
}

.banner .caption .button2 {
	color: #ff0844 !important;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	font-family: var(--barlow);
	border-radius: 20px;
	border-style: none;
	padding: 12px 55px;
	/* background: linear-gradient(111.41deg, #ff0844 24.85%, #ff8b67 95.39%); */
	background: white;
	transition: all 0.5s;
}

.banner .caption .button2:hover {
	color: var(--nav-bg) !important;
	background: linear-gradient(-111.41deg, #ff0844 24.85%, #ff8b67 95.39%);
}

.banner .caption p {
	color: var(--nav-bg);
}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* COURSE SECTION */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.course-section {
	display: block;
}

.course-section .slick-track {
	display: flex !important;
	gap: 1rem !important;
}

.course-section .card {
	border: none;
	border-radius: 10px;
	color: var(--text-color);
	font-family: var(--montserrat);
	min-height: 414px;
	overflow: hidden;
	box-shadow: 2px 2px 20px #cdcdcd;
	transition: all 0.5s;
}

.course-section .card:hover {
	box-shadow: 2px 2px 20px #979797;
}

.course-section .card a {
	color: var(--primary-color) !important;
	font-family: var(--lato);
	font-weight: 700;
	border-radius: 5px;
	border: 1px solid #b5cfffc9;
	position: absolute;
	bottom: 20px;
	width: 87%;
	transition: all 0.5s;
	text-transform: uppercase;
}

.course-section .card a:hover {
	border: 1px solid #2872FB;
}

.course-section .card-top {
	display: flex;
	gap: 1rem;
}

.course-section .card-top i {
	color: orangered;
}

.course-section .card-top h5 {
	color: black;
}

.course-section .card-top p {
	color: rgb(132, 132, 132);
}

.course-section .img-left {
	height: 100px;
	width: 100px;
	object-fit: cover;
}

.course-section .pricing {
	font-size: 14px;
	color: black;
	background-color: #6913cc1c;
	width: 100%;
	margin: 15px 0;
	padding: 5px 0;
	text-align: center;
	align-content: center;
}

.course-section .details ul {
	margin: 0;
	padding-left: 17px;
}

.course-section .details ul li {
	margin: 10px 0;
	color: rgb(124, 124, 124);
}

.course-section button {
	color: var(--nav-bg) !important;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	font-family: var(--barlow);
	border-radius: 20px;
	border-style: none;
	padding: 12px 55px;
	background: linear-gradient(111.41deg, #ff0844 24.85%, #ff8b67 95.39%);
	transition: all 0.5s;
	margin-top: 3rem;
	width: 200px;
	margin: 30px auto 0 auto;
}

.course-section button:hover{
	background: linear-gradient(-111.41deg, #ff0844 24.85%, #ff8b67 95.39%);
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* GALLERY SECTION */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.gallery{
	height: 100vh;
}

.gallery .background{
	height: calc(100vh + 120px);
	width: 100vw;
	background: linear-gradient(-45deg, #6913CC, #2872FB);
	border-radius: 0 240px 0 0;
}

.gallery .container {
	text-align: center;
}

.gallery .items{
	background-color: white;
	padding: 30px;
	border-radius: 0 100px 0 100px;
}

.gallery .items img {
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.gallery .items .row1 .col-lg-3:nth-child(4) img{
	border-radius: 20px 80px 20px 20px;
}

.gallery .items .row2 .col-lg-3:nth-child(1) img{
	border-radius: 20px 20px 20px 80px;
}

.gallery .small-device{
	display: none;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* FEEDBACK SECTION */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.feedback .slick-track {
	display: flex !important;
	gap: 1rem !important;
}

.feedback{
	align-items: center;
	align-content: center;
}

.feedback .card {
	text-align: center;
	background: linear-gradient(45deg, #6913CC, #2872FB);
	border: none;
	color: #fff;
	border-radius: 0 60px 0 50px;
	text-align: left;
}

.feedback .card img {
	max-width: 100%;
	float: right;
	border-radius: 50%;
	border: 5px solid #fff;
}

.feedback .card p {
	width: 400px;
}

.feedback .card .ratings {
	text-align: center;
	margin: 0 auto;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* FOOTER SECTION */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

footer {
	background: linear-gradient(-45deg, #6913CC, #2872FB);
	color: #fff;
	font-family: var(--barlow);
}

footer img {
	background-color: #fff;
	height: 50px;
	width: 50px;
	border-radius: 15px;
	padding: 2px;
}








/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ABOUT PAGE */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.about-banner .breadcrumb-item,
a,
.breadcrumb-item:before {
	color: var(--text-color) !important;
	transition: all 0.3s;
}

.about-banner a:hover {
	color: var(--text-hover-color) !important;
}

.about-banner .caption h1 {
	color: var(--text-hover-color);
	font-size: 50px;
	font-family: var(--montserrat);
}

.about-banner {
	position: relative;
}

.about-banner .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* STAFF SECTION */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.staff-section .slick-track {
	display: flex !important;
	gap: 1rem !important;
}

.staff-section .card {
	border: none;
	border-radius: 0;
	border: 1px solid var(--secondary-color);
	background-color: var(--primary-color);
	color: var(--text-color);
	font-family: var(--montserrat);
	transition: all 0.5s;
	min-height: 414px;
	overflow: hidden;
	position: relative;
	min-height: 100%;
}

.staff-section .card:hover {
	border: none;
	border-radius: 0;
	border: 1px solid var(--secondary-color);
	background-color: #3e3f3fb7;
	color: var(--secondary-color);
	font-family: var(--montserrat);
}

.staff-section .card:hover .card-body {
	opacity: 1;
	border-radius: 0;
	width: 100%;
	transform: translate(-50%, 64%);
}

.staff-section .top-img {
	overflow: hidden;
	width: 100%;
}

.staff-section .card .card-img-top {
	border: none;
	border-radius: 0;
	transition: all 0.5s;
}

.staff-section .card a {
	background-color: var(--secondary-color);
	color: var(--primary-color) !important;
	font-family: var(--montserrat);
	font-weight: 700;
	border-radius: 5px;
	position: absolute;
	bottom: 20px;
}

.staff-section .card .card-body {
	width: 40%;
	border-radius: 50%;
	background: var(--secondary-color);
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 128%);
	transition: all 0.4s;
	opacity: 0;
}

.staff-section .card .card-body h5 {
	width: 100%;
	color: var(--primary-color);
}

.staff-section .card .card-body .social-links i {
	color: var(--primary-color-light);
	margin: 1rem 0.5rem;
	font-size: 20px;
	transition: all 0.5s;
}

.staff-section .card .card-body .social-links i:hover {
	color: var(--primary-color);
	cursor: pointer;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ABOUT SECTION */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.about-us .col-6:last-child {
	display: flex;
	align-items: center;
}

.about-us .image {
	position: relative;
}

.about-us .image .bowl-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(16%, -50%);
}

.about-us ul {
	padding: 0 0 0 15px;
	line-height: 55px;
}

.about-us h2,
.about-us ul li {
	color: var(--secondary-color);
	list-style-type: square;
	padding: 0;
}

.about-us .caption {
	margin-left: 100px;
	font-family: var(--montserrat);
}

.about-us .caption button {
	background-color: transparent;
	color: var(--secondary-color);
	text-transform: uppercase;
	font-size: 14px;
	font-family: var(--montserrat);
	border-radius: 25px;
	border-style: none;
	border: 2px solid var(--secondary-color);
	padding: 12px 55px;
	transition: all 0.5s;
}

.about-us .caption button:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: 700;
}